#logo{
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size: 2vw;
}

.navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.navlist{
  display: flex;
  margin: 0px;
}

li {
  list-style-type: none;
  margin: 0 10px;
  display: block;
  font-family: "Open Sans", sans-serif;
}

.navbar a {
  font-weight: bold;
  font-size: 1.7vw;
  display: block;
  padding: 0.5vw;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(28, 28, 28);
  border-radius: 15px;
}

#headerBack {
  padding: 20px;
  text-align: center;
  background-image: url("Images/Homeback.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

#headerBack h1 {
  font-size: 50px;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  padding: 1vw;
}

#headerBack p {
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.Gridbase {
  display:grid;
  grid-template-areas: 'one two' 'three four' 'five six' 'seven eight' 'nine ten';
}

.stepInfo {
  padding: 3vw;
  font-family: Raleway, sans-serif;
  font-weight: 200;
}

.stepInfo h6 {
  padding: 1vw 0vw 0.25vw 0vw;
}

.stepInfo p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.sideImg {
  padding: 2vw;
  height: auto;
  overflow: hidden;
  margin: auto;
}

#tinyGrid {
  display: grid;
  grid-template-areas: 'one two';
}

#firstStep {
  grid-area: one;
  padding-top: 3vw;
}

#firstPic {
  grid-area: two;
  width: 100%;
  height: auto;
}

#secondPic {
  grid-area: four;
  width: 100%;
  height: auto;
}

#thirdPic {
  grid-area: six;
  width: 100%;
  height: auto;
}

#fourthPic {
  grid-area: eight;
  width: 100%;
  height: auto;
}

#fifthPic {
  grid-area: ten;
  width: 100%;
  height: auto;
}


@media all and (max-width: 700px) {
  .navbar a {
    font-size: 4vw;
  }
  .Header {
    font-size: 4vw;
  }
  #logo{
    font-size: 5vw;
  }
  .Gridbase {
    grid-template-areas: 'one' 'two' 'three' 'four' 'five' 'six' 'seven' 'eight' 'nine' 'ten';
    padding:16px;
  }
  .HomeText{
    font-size: 3vw;
  }
}