#logo {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 2vw;
}

.navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.navlist {
  display: flex;
  margin: 0px;
}

li {
  list-style-type: none;
  margin: 0 10px;
  display: block;
  font-family: "Open Sans", sans-serif;
}

.navbar a {
  font-weight: bold;
  font-size: 1.7vw;
  display: block;
  padding: 0.5vw;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(28, 28, 28);
  border-radius: 15px;
}

#scholHead {
  padding: 20px;
  text-align: center;
  background-image: url("Images/Skyphoto.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 60px;
  color: black;
  font-family: Oswald, sans-serif, Times, serif;
}

#abtHead {
  text-align: center;
  background-image: url("Images/AboutPhoto.png");
  background-repeat: no-repeat;
  color: white;
  font-family: Oswald, sans-serif, Times, serif;
  background-size: cover;
}

.Header {
  padding: 30px;
  font-family: Oswald, sans-serif, Times, serif;
  text-align: center;
  font-size: 60px;
}

#purpose {
  text-align: center;
  grid-area: one;
}

#accImg {
  width: 100%;
  height: auto;
  grid-area: two;
}

body {
  background-color: rgb(204, 231, 252);
}

.Gridbase {
  display: grid;
  grid-template-areas: 'one two' 'three four';
  grid-column-gap: 3vw;
  padding: 5vw;
  font-size: 26px;
}

.scholBox {
  display: grid;
  font-family: Raleway, sans-serif;
  padding-bottom: 2vw;
}

.scholBox h6 {
  font-size: 20px;
}

#onlOpt {
  grid-area: one;
}

#locOpt {
  grid-area: two;
}

#websites {
  grid-area: three;
}

#chapters {
  grid-area: four;
}




@media all and (max-width: 700px) {
  .navbar a {
    font-size: 4vw;
  }

  .Header {
    font-size: 14vw;
  }

  .Gridbase {
    grid-template-areas: 'one' 'three' 'two' 'four';
  }

  .HomeText {
    font-size: 3vw;
  }

  #logo {
    font-size: 5vw;
  }

  div a {
    padding-top: 5vw;
    font-size: 16px;
  }

  #purpose p {
    font-size: 15px;
  }

  #purpose a {
    font-size: 20px;
  }

  #h2 {
    margin-top: 10px;
  }
}