#logo{
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size: 2vw;
}

.navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

.navlist{
  display: flex;
  margin: 0px;
}

li {
  list-style-type: none;
  margin: 0 10px;
  display: block;
  font-family: "Open Sans", sans-serif;
}

.navbar a {
  font-weight: bold;
  font-size: 1.7vw;
  display: block;
  padding: 0.5vw;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgb(28, 28, 28);
  border-radius: 15px;
}

.Header {
  padding: 30px;
  font-family: sans-serif, Georgia, Times, serif;
  text-align: center;
  font-size: 30px;
}

.Gridbase {
  display: grid;
  grid-template-areas: 'one two three' 'four five six';
}

#HomeGrid{
  background-image: 
    linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.7)), 
    linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.7)), 
    url("Images/Studentphoto.png"), 
    url("Images/Homeback.png");
  background-color: rgb(227, 238, 255);
  background-repeat: no-repeat;
  background-size: cover;
}

#Information{
  color: white;
  text-align: center;
  justify-content: center;
  margin:auto;
  background-image: 
  linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.5));
  font-size: 15px;
  grid-area: two;
  padding: 3vw;
}

#StatHead{
  font-family: Oswald, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 40px;
  padding: 20px;
}

.HomeText {
  font-family: "Open Sans", 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 22px;
  margin: auto;
}

#rightImg{
  width: 24vw;
  margin:auto;
  padding-top: 30px;
  grid-area: three;
}

#leftImg{
  width: 24vw;
  height:auto;
  margin:auto;
  grid-area: one;
}

.botCont {
  padding: 10px;
  margin: auto;
}

#leftCards {
  grid-area: four;
  width: 30vw;
  height:auto;
  margin-left: 10px;
}

#middleContent {
  grid-area: five;
  align-items: center;
  height:auto;
}

#rightCards {
  grid-area: six;
  width: 30vw;
  height: auto;
  margin-right: 10px;
}

.CalcOpt {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
  width: 100%;
  height: auto;
}

.BlogOpt {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

#InfoBox {
  color: white;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.ResOpt {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

.LogOpt {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

.card {
  text-align: center;
  width: 80%;
  height: auto;
  font-size: 20px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

#topHome {
  padding-bottom: 30px;
}
.card-title{
  font-size: 20px;
}
.card-text{
  font-size: 15px;
}

@media all and (max-width: 700px) {
  .navbar a {
    font-size: 4vw;
  }
  .Header {
    font-size: 4vw;
  }
  .Gridbase {
    grid-template-areas: 'one' 'two' 'three' 'four' 'five' 'six';
  }
  .HomeText{
    font-size: 3vw;
  }
  #logo{
    font-size: 5vw;
  }
  #StatHead{
    font-size: 4vw;
  }
  #rightImg{
    display: none;
  }
  #leftImg{
    display: none;
  }
  #leftCards {
    grid-area: four;
    width: 80vw;
    height: auto;
    margin:auto;
  }
  #middleContent{
    grid-area: five;
    width: 80vw;
    height: auto;
  }
  #rightCards {
    grid-area: six;
    width: 80vw;
    height: auto;
    margin:auto;
  }
  .card {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 4vw;
  }
  .card-title{
    font-size: 15px;
  }
  .card-text{
    font-size: 10px;
  }
}